body {
    margin: 0;
}

.loader-container,
.description {
    position: absolute;
    width: 100%;
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-weight: light;
    align-items: flex-start;
    font-size: 14px;
    pointer-events: none;
    user-select: none;
}

.loader-container {
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.description {
    top: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
}

.loader-container .bar {
    height: 2px;
    background: white;
    width: 100%;
}

.loader-container .credits,
.loader-container .samples,
.loader-container .percentage {
    padding: 5px;
    margin: 0 0 1px 1px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: inline-block;
}

.loader-container:not(.loading) .bar,
.loader-container:not(.loading) .percentage,
.loader-container.loading .credits,
.loader-container.loading .samples,
.loader-container .credits:empty {
    display: none;
}

.loader-container .credits a,
.loader-container .credits,
.loader-container .samples {
    color: rgba(255, 255, 255, 0.75);
}
